-# CSS styled markup.
%strong#greeting.text Hello World!
%br
-# Hash styled markup
%strong{ :id => "greeting", :class => "text"} Hello World!
%br
-# Templates
%strong= 10 * 4 + 2
%br
-# Using multiple classes
%strong.text.important Hello World!

-# DIVs regular
%div.content Lorem ipsum sit dolor.
-# DIVs using shorthand
#main_content Lorem ipsum sit dolor.
.content Lorem ipsum sit dolor.

-# Nesting elements
.content
  #header
    %h1 Welcome to the world of HAML!
  #main
    .column
      This is the left column.
    .column
      This is the right column.
